<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
        .title {
            text-align: center;
        }
        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="title">临时导航</div>
    <div class="content">
        <div class="item">
            <a href="/admin/img-upload">图片上传</a>
        </div>
    </div>
</body>
</html>